/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Set the font family to Helvetica for the entire app */
  body {
    font-family: Helvetica, Arial, sans-serif;
    /* Use Arial and sans-serif as fallback fonts in case Helvetica is not available */
  }
  
  /* Add space between the components */
  .App-header {
    display: flex;
    flex-direction: column;
  }
  
  /* Apply space between sections and footer */
  .section {
    margin-bottom: 50px; 
  }
    